.cardContainer {
  width: 15rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  transition: 0.3s;
}

.cardContainer:hover {
  border: 1px solid #1aab8a;
}

.cardContainer h2 {
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.cardContainer p {
  font-size: 1.2rem;
  width: 14rem;
  display: inline-block;
  text-align: right;
}

.btnBox {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.cardContainer img {
  width: 90%;
  margin: auto;
  object-fit: cover;
}
